* {
    margin: 0px;
    padding: 0px;
}    

.material-symbols-outlined {
    color: white;
    margin-top: 15px;
    cursor: pointer;
    margin-right: 15px;
}

body {
    background-color: #20364b;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#logo {
    width: 180px;
    padding-left: 15px;
}

#itens {
    padding-top: 80px;
    font-size: 20px;  
    display: none;    
}

#l1 {
    text-decoration: none;
    color: white;
    position: absolute;   
    background-color: #20364b;
    margin-left: -450px;
    padding-right: 350px;
    padding-bottom: 380px;
}

li {
    list-style: none;
    padding-top: 70px;
}

#titulos {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

h1 {
    padding-top: 25px;
    color: #fdc11f;
    font-size: 40px;
    width: 300px;
    margin: auto;
}

h2 {
    color: white;
    font-size: 35px;
    width: 300px;
    margin: auto;
}

p {
    color: white;
    width: 300px;
    margin: auto;
    padding-top: 20px;
}

#barra {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    padding-top: 15px;
    gap: 10px;
}

.barra {
    border-radius: 15px;
    height: 20px;
    border-color: #20364b;
    padding: 5px;
}

.botão {
    margin-top: 5px;
    width: 100px;
    border-radius: 15px;
    border-color: #20364b;
    height: 28px;
    background-color: #fdc11f;
}